.DS_Store

# Local SSH private keys
.ssh/
*.ppk
id_ed25519*
id_ecdsa*
id_rsa*

src/email-exim4.sh
src/hosts_ATH
src/hosts_GVA
src/vpn/site-to-site/site.conf
src/vpn/server/vpn-server.conf
src/vpn/server/output/
*.ovpn
*.p12
*.pfx
src/notify/notify.conf
src/ups/ups-monitor.conf
src/monitoring/boot-report/boot-report.conf
src/monitoring/vpn-watchdog/vpn-watchdog.conf
